<div class="container-fluid">
  <div class="row" style="display: none">
    <button class="btn btn-outline-dark" (click)="close()">Back</button>
  </div>
  <div class="row">
    <div class="col">
      <mat-horizontal-stepper #stepper labelPosition="bottom" linear>
        <mat-step completed="false" editable="false" label="Determine Fees"></mat-step>
        <mat-step completed="false" editable="false" label="Final Customer Approval"></mat-step>
        <mat-step completed="false" editable="false" label="Wireless Deactivation"></mat-step>
        <mat-step completed="false" editable="false" label="Completed"></mat-step>
      </mat-horizontal-stepper>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="card">
        <div class="card-header">
          <h3>Request Details</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <label>Company ID:</label>
            </div>
            <div class="col">
              <p>{{requestDetails.cid}}</p>
            </div>
            <div class="w-100"></div>
            <div class="col">
              <label>Created Date:</label>
            </div>
            <div class="col">
              <p>{{requestDetails.createdDate | date : 'MM/dd/yyyy'}}</p>
            </div>
            <div class="w-100"></div>
            <div class="col">
              <label>Requested Date:</label>
            </div>
            <div class="col">
              <p>{{requestDetails.requestedDate | date : 'MM/dd/yyyy'}}</p>
            </div>
            <div class="w-100"></div>
            <div class="col">
              <label>Completed Date:</label>
            </div>
            <div class="col">
              <p>{{requestDetails.completedDate | date : 'MM/dd/yyyy'}}</p>
            </div>
            <div class="w-100"></div>
            <div class="col">
              <label>Requested By:</label>
            </div>
            <div class="col">
              <p>{{requestDetails.username}}</p>
            </div>
            <div class="w-100"></div>
            <div class="col">
              <label>Device Count:</label>
            </div>
            <div class="col">
              <p>{{requestDetails.deviceList.length}}</p>
            </div>
            <div class="w-100"></div>
            <div class="col">
              <label>Status:</label>
            </div>
            <div class="col">
              <app-request-status [isEditable]="isManager" [requestId]="requestDetails.requestId"
                [status]="requestDetails.status" [cid]="requestDetails.cid"></app-request-status>
            </div>
            <div class="w-100"></div>
            <div class="col">
              <label>Reason:</label>
            </div>
            <div class="col">
              <app-request-reason [isEditable]="isManager" [requestId]="requestDetails.requestId"
                [reason]="requestDetails.reason" [cid]="requestDetails.cid"></app-request-reason>
            </div>
            <div class="w-100"></div>
            <div class="col">
              <button class="btn btn-outline-dark" (click)="sendToNextStep()">Send To Next Step</button>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h3>Deactivation Fees</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <label>Total Fee:</label>
            </div>
            <div *ngIf="!isManager" class="col">
              <p>{{requestDetails.fee}}</p>
            </div>
            <div *ngIf="isManager" class="col">
              <input type="number" [(value)]="requestDetails.fee" />
            </div>
            <div class="w-100"></div>
            <div *ngIf="currentStep == 0" class="col">
              <button class="btn btn-outline-dark" (click)="sumLines()">Sum Lines</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h3>Customer Notes</h3>
            </div>
            <div class="card-body">
              <textarea *ngIf="!isManager" [ngModel]="requestDetails.cust_notes"></textarea>
              <div *ngIf="isManager">
                <p class="displayNotes">{{requestDetails.cust_notes}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h3>Customer Manager Notes</h3>
            </div>
            <div class="card-body">
              <div *ngIf="!isManager">
                <p class="displayNotes">{{requestDetails.cm_notes}}</p>
              </div>
              <textarea *ngIf="isManager" [ngModel]="requestDetails.cm_notes"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class=""></div>
        <div class="container-fluid">
          <div class="card">
            <div class="card-header">
              <h3>Device List</h3>
            </div>
            <div class="card-body">
              <app-device-table #deviceTable [request]="requestDetails"></app-device-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>