.hidden {
    display: none;
}

.loadingScreenHolder {
    margin: 0;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: inline-block !important;
}

.loadingScreen{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.vertical-center {
    margin: 0;
    position: absolute;

    left:50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 150px;
    height: auto;
  }

.loadingGif{
    width: 100%;
    height: auto;
}