.hidden{
    display: none;
}

.pageBtns {
    display: block;
    width: 100%;
}

.prevBtn {
    float: left;
}

.nextBtn {
    float: right;
}

.clickable {
    cursor: pointer;
}

.right{
    float: right;
}

.left {
    float: left;
}

.paddingBottom {
    padding-bottom: 10px;
}