<div class="tableContainer">
  <div class="row">
    <div class="col reportTable">
      <div>
        <app-loading-container [ngClass]="{'': showReportLoading, hidden: !showReportLoading}"></app-loading-container>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Truck Number</th>
              <th>DSN</th>
              <th>Company Id</th>
              <th>Status</th>
              <th>Reason</th>
              <th>Deactivation Fee</th>
              <th>Remove</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let device of deviceList">
              <td>{{device.trucknum}}</td>
              <td>{{device.dsn}}</td>
              <td>{{device.cid}}</td>
              <td>
                <app-request-status [isEditable]="isEditable" [requestId]="request.requestId" [dsn]="device.dsn"
                  [status]="device.status" [cid]="device.cid"></app-request-status>
              </td>
              <td>
                <app-request-reason [isEditable]="isEditable" [requestId]="request.requestId" [dsn]="device.dsn"
                  [reason]="device.reason" [cid]="device.cid"></app-request-reason>
              </td>
              <td *ngIf="!isEditable">{{device.fee}}</td>
              <td *ngIf="isEditable"><input type="number" [(ngModel)]="device.fee" (blur)="updateDeviceFees($event)" /></td>
              <td><button *ngIf="isEditable" class="btn btn-sm btn-outline-dark" (click)="removeDevice(device)">Remove</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>