
<div class="row">
  <div class="col reportTable">
      <div>
        <app-loading-container [ngClass]="{'': showReportLoading, hidden: !showReportLoading}"></app-loading-container>
        <table class="myTable">
          <tr>
            <th>Truck Number</th>
            <th>DSN</th>
            <th>Company Id</th>
            <th>Status</th>
            <th>Reason</th>
            <th *ngIf="!isEditable">Undo</th>
            <th *ngIf="isEditable">Cancel</th>
            <th *ngIf="isEditable">Confirm</th>
          </tr>
          <tr *ngFor="let device of deviceList">
            <td>{{device.trucknum}}</td>
            <td>{{device.dsn}}</td>
            <td>{{device.cid}}</td>
            <td *ngIf="isEditable">
              <select [(ngModel)]="device.status" (ngModelChange)="updateStatus(device)" >
                <option value="0">Pending Approval</option>
                <option value="1">Pending Wireless Deactivation</option>
                <option value="2">Removed</option>
              </select>
            </td>
            <td *ngIf="!isEditable">
              <label *ngIf="device.status == 0">Pending Approval</label>
              <label *ngIf="device.status == 1">Pending Wireless Deactivation</label>
              <label *ngIf="device.status == 2">Removed</label>
            </td>
            <td *ngIf="isEditable">
              <select [(ngModel)]="device.reason">
                <option value="0">Churn</option>
                <option value="1">RMA</option>
                <option value="2">Return</option>
                <option value="3">Other</option>
              </select>
            </td>
            <td *ngIf="!isEditable">
              <label *ngIf="device.reason == 0">Churn</label>
              <label *ngIf="device.reason == 1">RMA</label>
              <label *ngIf="device.reason == 2">Return</label>
              <label *ngIf="device.reason == 3">Other</label>
            </td>
            <td *ngIf="!isEditable">
              <button title="Unavailable if approved by CM" class="btn btn-sm btn-outline-dark" [disabled]="device.status != 0" (click)="undoRequest(device)">
                Undo
              </button>
            </td>
            <td *ngIf="isEditable"><button class="btn btn-sm btn-outline-dark" (click)="cancelRequest(device)">Cancel</button></td>
            <td *ngIf="isEditable"><button class="btn btn-sm btn-outline-dark" (click)="confirmRequest(device)">Confirm</button></td>
          </tr>
        </table>
      </div>
  </div>
</div>
