
.deviceTable {
    width: 80%;
}

.blue {
    color: blue;
}

.center {
    clear: both;
    text-align: center;
    width: 100%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.selectableContainer {
    float: left;
}
.selectedContainer {
    float: right;
}

.myDataRow {
    display:inline-block;
    margin-right:20px;
}

.myDataRow label, input {
    display: block;
}

.pageBtns {
    display: block;
    width: 100%;
}

.prevBtn {
    float: left;
    cursor: pointer;
}

.nextBtn {
    float: right;
    cursor: pointer;
}

.myTable {
    border-collapse: collapse;
    width: 100%;
}

.myTable td, .myTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

.myTable tr:nth-child(even){background-color: #f2f2f2;}
.myTable tr:hover {
    background-color: #ddd;
    cursor: pointer;
}

.myTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #009492;
    color: white;
}

.modal {
    display: block;
}

.trucknumList{
    width: 100%;
    height: 100%;
}

.blockScroll{
    display: block;
    overflow-y: auto;
    height: 350px;
}

.hidden {
    display: none;
}

.contractData {
    text-align: center;
}

.contractTable {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.topSpacer {
    margin-top: 5px;
}

.spacerTop15 {
    margin-top: 15px;
}

.hidden {
    display: none;
}

.confirmationBody {
    min-height: 150px;
    min-width: 150px;
    display: inline-block;
}