<div class="container-fluid">
  <div class="mainContainer">
    <div class="homeTitle">
      <h1>Device Deactivation Tool</h1>
    </div>
    <div>
      <p>You can either deactivate devices or view reports about devices deactivations.</p>
    </div>
    <div><p>{{response}}</p></div>
    <div>
      <div class="btn btn-outline-secondary" (click)="swapDevices()">Deactivate Devices</div>
      <div class="btn btn-outline-secondary" (click)="viewReports()">View Reports</div> 
    </div>
  </div>
</div>