<div class="row">
  <div class='col-3'>
    <form>
      <div class="ds-group ds-black">
      <div class="row">
        <div class="col-sm">
          <label>Company ID:</label>
        </div>
        <div class="col-sm">
            <p >{{customerInfo.companyId}}</p>
          </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <label>Company Name:</label>
        </div>
        <div class="col-sm">
            <p>{{customerInfo.companyName}}</p>
          </div>
      </div>
      <div class="row">
        <div class="col-sm">
            <label>Parent Company ID:</label>
        </div>
        <div class="col-sm">
            <p>{{customerInfo.companyId}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
            <label>Parent Company Name:</label>
        </div>
        <div class="col-sm">
          <p>{{customerInfo.parentName}}</p>
        </div>
      </div>
    </div>
    <div class="ds-group ds-dark-grey">
      <div class="row">
        <div class="col-sm">
            <label>Adjusted OCB Count:</label>
            <label>(OBC Count - Open RMAs)</label>
          </div>
        <div class="col-sm">
          <p>{{customerInfo.adjustedObcCount}}</p>
        </div>
      </div>
    </div>
    <div class="ds-group ds-grey">
      <div class="row">
        <div class="col-sm">
        <label>OBC Count:</label>
        </div>
        <div class="col-sm"><p>{{customerInfo.obcCount}}</p></div>
      </div>
      <div class="row">
        <div class="col-sm"><label>**Safety Stock:</label></div>
        <div class="col-sm"><p>{{customerInfo.safetyStock}}</p></div>
      </div>
      <div class="row">
          <div class="col-sm"><label>Customer Manager:</label></div>
          <div class="col-sm"><p>{{customerInfo.customerManager}}</p></div>
      </div>
      <div class="row">
          <div class="col-sm"><label>RAM/NAR/VAS:</label></div>
          <div class="col-sm"><p>{{customerInfo.ramNasVas}}</p></div>
      </div>
      <div class="row">
          <div class="col-sm"><label>Sales Rep:</label></div>
          <div class="col-sm"><p>{{customerInfo.salesRep}}</p></div>
      </div>
      <div class="row">
          <div class="col-sm"><label>Customer Type:</label></div>
          <div class="col-sm"><p>{{customerInfo.customerType}}</p></div>
      </div>
    </div>
    <div class="ds-group ds-grey">
      <div class="row">
          <div class="col"><label>Rate Plan:</label></div>
      </div>
    <div class="row">
        <div class="col ds-center">
            <p>{{customerInfo.ratePlan}}</p>
        </div>
      </div>
    </div>
    <div class="ds-group ds-red">
      <div class="row">
          <div class="col-sm">
              <label>Unit Suspended Months:</label>
          </div>
          <div class="col-sm"><p>{{customerInfo.unitSuspendedMonths}}</p></div>
      </div>
      <div class="row">
          <div class="col ds-center"><label>Calculated into Account Churn</label></div>
      </div>
    </div>
    <div class="ds-group ds-grey">
        <div class="row">
            <div class="col ds-center"><label>Open OBC RMA(s)</label></div>
        </div>
      <div class="row">
        <div class="col-sm">
            <label>Return Only:</label>
        </div>
          <div class="col-sm"><p>{{customerInfo.returnOnly}}</p></div>
      </div>
      <div class="row">
          <div class="col-sm">
              <label>Standard RMA:</label>
          </div>
          <div class="col-sm"><p>{{customerInfo.standardRma}}</p></div>
      </div>
      <div class="row">
          <div class="col-sm">
              <label>MM Upgrade:</label>
          </div>
          <div class="col-sm"><p>{{customerInfo.mmUpgrade}}</p></div>
      </div>
    </div>
    <div class="ds-group ds-light-grey">
      <div class="row">
          <div class="col-sm">
              <label>Predates NetSuite:</label>
          </div>
          <div class="col-sm"><p>{{customerInfo.predatesNetsuite}}</p></div>
      </div>
      <div class="row">
          <div class="col-sm">
              <label>OBC Count As Of:</label>
          </div>
          <div class="col-sm"><p>{{customerInfo.obcCountAsOf}}</p></div>
      </div>
      <div class="row">
          <div class="col-sm">
              <label>Customer Data As Of:</label>
          </div>
          <div class="col-sm"><p>{{customerInfo.custDateAsOf}}</p></div>
      </div>
    </div>
    <div class="ds-group ds-light-grey">
      <div class="row">
          <div class="col-sm">
              <label>Contract Review Complete:</label>
          </div>
          <div class="col-sm"><p>{{customerInfo.contactReviewComplete}}</p></div>
      </div>
      <div class="row">
          <div class="col-sm">
            <label>Last Review Date:</label>
          </div>
          <div class="col-sm"><p>{{customerInfo.lastReviewDate}}</p></div>
      </div>
      <div class="row">
          <div class="col-sm">
              <label>Review Notes:</label>
          </div>
          <div class="col-sm"><p>{{customerInfo.reviewNotes}}</p></div>
      </div>
      <div class="row">
          <div class="col-sm">
              <label>Unit: Contract, % Diff</label>
          </div>
          <div class="col-sm"><p>{{customerInfo.unitContractDiff}}</p></div>
      </div>
    </div>
    </form>
  </div>
  <div class="col">
    <h1>Term Summary</h1>
    <table class="myTable">
      <tr>
        <th>Term Year</th>
        <th>Term Month</th>
        <th>Contract Type</th>
        <th>Term Years</th>
        <th>Auto Renewal</th>
        <th>Within 6 Months</th>
        <th>Within 18 Months</th>
        <th>Churn / Return</th>
        <th>Grand Total</th>
      </tr>
      <tr>
        <td>2014</td>
        <td>5</td>
        <td>MPA or Add-On</td>
        <td>4</td>
        <td>1500</td>
        <td>0</td>
        <td>12</td>
        <td>-5</td>
        <td>1499</td>
      </tr>
    </table>
  </div>
</div>